<div class="example-block">
    <div class="title">
        <h1>{{ fields.title }}</h1>
    </div>

    <div class="image">
        {% set image = Image(fields.image) %}
        <img src="{{ image.src }}" alt="{{ image.alt }}" />
    </div>

    <div class="content">
        {{ fields.content }}
    </div>
</div>
